<div class="row">
<div class="col-xs-12">
<h1>Create a new Groomer</h1>
</div>


<div class="col-xs-12">
{{#if errors}}
  <h3>Errors occured</h3>
  {{#each errors}}
    <p>Path: {{path}}</p>
    <p>Message: {{message}}</p>
    <hr />
  {{/each}}
{{/if}}
  <form name="create-post" action="/groomers" method="post">
  <div class="form-group">
    <label>First name</label>
    <input type="text" name="first_name" placeholder="First name">
  </div>
  <div class="form-group">
    <label>Last name</label>
    <input type="text" name="last_name" placeholder="Last name">
  </div>
  <div class="form-group">
    <label>Email</label>
   <input type="text" name="email" placeholder="dogGroomer@footsteps.com">
  </div>
  <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" required data-validation-required-message="Please enter your password.">
            <p class="help-block text-danger"></p>
          </div>
  </div>
  </div>
  <label>Street Number</label>
    <input type="int" name="street_number" placeholder="Ex: 130">
  </div>
  <label>Street Address</label>
    <input type="text" name="street_address" placeholder="Ex: East 34th Street">
  </div>
  <label>Zip Code</label>
    <input type="int" name="zip_code" placeholder="Ex: 10021 ">
  </div>
  <label>Phone Number</label>
    <input type="text" name="phone_number" placeholder="Ex: 646-555-0123">
  </div>
  <label>Annual Salary</label>
    <input type="float" name="salary" placeholder="Ex: 50000">
  </div>
  <label>Rating</label>
    <input type="int" name="rating" placeholder="1-5">
  </div>
  <label>Emergency Volunteer Acknowledgement</label>
    <input type="radio button" name="emergency_volunteer">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div>